<div class="col-md-12">
  <div class="group">
  <button type="button" class="btn btn-default">Top comments</button>
  <button type="button" class="btn btn-default">Newest first</button>
    <%= link_to("Post a Movie Review", new_group_path, class: "btn btn-link pull-right") %>
  </div>
  <table class="table table-hover">
    <thead>
      <tr>
        <td>Title</td>
        <td>Description</td>
        <td>Creator </td>
      </tr>
    </thead>
    <tbody>
       <%= render :partial => "group_item", :collection => @groups, :as => :group %>
    </tbody>
  </table>
</div>
